body {
    background-image: url("circuits.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto';
    margin-left: 10px;
    overflow: scroll;
}

main {
    animation: slideFade ease 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    padding-top: 10vh;
    bottom: 0;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

.code {
    font-family: monospace;
}

.code-panel {
    padding:.2em .6em;
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: orange;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    z-index: 1;
}

.menu-link:hover {
    color: white;
}

.menu-link {
    color: black;
}

.card {
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 30px;
    margin-bottom: 1vh;
    padding: 10px;
}

@keyframes slideFade {
    0% {
        opacity: 0;
        position: fixed;
        left: -200%;
    }
    75% {
        opacity: 0;
    }
    100% {
        position: relative;
        opacity: 1;
        left: 0;
    }
}

.card > h1 {
    padding-left: 1vw;
    border-left: 2vw solid transparent;
}

.card:hover > h1 {
    border-left: 2vw solid orange;
}

.card:hover {
    background-color:  rgba(0, 0, 0, 0.8);
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

#gravatar > img {
    height: 100%;
    z-index: 1;
}

#gravatar-image {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
}

#gravatar-image:hover {
    opacity: .3;
}

#w4-frow {
    width: 50%;
    margin-top: 20px;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 10px;
    animation: swap-flex-justify 5s linear 1;
}

@keyframes swap-flex-justify {
    0% {
        justify-content: flex-start;
    }
    20% {
        justify-content: space-between;
    }
    40% {
        justify-content: space-around;
    }
    60% {
        justify-content: space-evenly;
    }
    80% {
        justify-content: flex-end;
    }
    100% {
        justify-content: space-evenly;
    }
}

#w4-frow > h1 {
    padding: 10px;
    background-color: orange;
    margin-left: 10px;
    border-radius: 10px;
}

#w4-fcol {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    width: 20%;
    height: 400px;
    animation: swap-flex-justify 5s linear 1;
}

#w4-fcol > h1 {
    padding: 10px;
    background-color: orange;
    align-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

#w4-grow {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#w4-grow > h1 {
    padding: 10px;
    background-color: orange;
    align-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

#w4-gcol {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    height: 400px;
}

#w4-gcol > h1 {
    padding: 10px;
    background-color: orange;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    text-align: center;
}