body {
    display: row;
    background-image: url("circuits.jpg");
    font-family: 'Roboto';
    margin-left: 10px;
    overflow: scroll;
}

main {
    width: 60vw;
    position: relative;
    top: 10vh;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    background-color: orange;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    z-index: 1;
}

.menu-link:hover {
    color: white;
}

.menu-link {
    color: black;
}

.card > h1 {
    padding-left: 1vw;
    border-left: 2vw solid transparent;
}

.card:hover > h1 {
    border-left: 2vw solid orange;
}